@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.typewriter-text{
  font-weight: 600;
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  z-index: 2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Footer {
  font-weight: 500;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  margin-bottom: 2.5vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-aktif{
  background-color: red;
}

.button-inaktif{
  background-color: blue;
}

.center-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.typewriter{
  justify-content: center;
  align-items: center;
  font-size: 6em;
  height: 80px;
  line-height: 80px;
  width: 100%;
}

.first-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-weight: 800;
  color: black;
  
}

.Footer-container{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-logo{
  width: 32px;
  height: auto;
  margin-right: 2px;
  margin-left: 2px;
}

.contact-container{
  display: flex;
  flex-direction: row;
}


